@model IEnumerable<PointOfSale.Models.ControlPrecio>

@{
    ViewData["Title"] = "Index";
}

<h1>Precios y Costos</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoBarra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVenta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoBarra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.PrecioVenta)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ControlPrecio1">Actualizar</a> @* |
                <a asp-action="Details" asp-route-id="@item.ControlPrecio1">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ControlPrecio1">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
